# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "56aba0d967a4928a82d354ec774583f4"
name = "tag-field-manager"
application_url = "https://example.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes

scopes = "write_markets,read_markets,read_content,write_content,write_products,read_customers,read_draft_orders,read_orders,read_products,read_customer_merge,write_customers,write_draft_orders,write_orders,read_content,write_content,read_locations,read_companies,write_companies,read_metaobject_definitions,write_metaobject_definitions,read_metaobjects,write_metaobjects"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
